<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование заказа</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Редактирование заказа</h1>
    <nav>
        <ul>
            <li><a href="/admin/adminMain">Главная</a></li>
            <li><a href="/admin/orders">Заказы</a></li>
        </ul>
    </nav>
</header>

<h2>Редактировать заказ</h2>
<form th:action="@{/admin/orders/{id}/update(id=${order.id})}" th:object="${order}" method="post">
    <label for="status">Статус:</label>
    <input type="text" id="status" th:field="*{status}" required>

    <label for="price">Цена:</label>
    <input type="number" id="price" th:field="*{price}" step="0.01" min="0" required>

    <label for="waiter">ID официанта:</label>
    <input type="number" id="waiter" th:field="*{waiter.id}">

    <label for="table">ID стола:</label>
    <input type="number" id="table" th:field="*{table.id}">

    <button type="submit">Сохранить изменения</button>
</form>

</body>
</html>
